.App {
  text-align: center;
}
*,
body,
html {
    padding: 0;
}
.bodyWidth {
    max-width: 1188px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #bdbdbd;
}

::placeholder {
    color: rgb(175, 175, 175);
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: normal;
    line-height: 14px;
    background-color: #fff;
}